h1{
    color:teal
}
/*{
    border: solid;
}*/
.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.menu{
    background-color: cadetblue;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display:flex;
    justify-content: center;
}

p, h2{
    text-align: center;
}
